.NavBar {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(87, 87, 87);

}

.NavBrandName {
    font-family: "Pacifico", sans-serif ;
    font-weight: 200;
    line-height: normal;
}

.NavLink {
    padding: 5px;
    color: #009488;
}

.Active i {
    color: #00756c;
}


  