.NavBar {
    background-color: rgb(75, 75, 75);
    border-bottom: 3px solid #007a70;

}

.NavBrandName {
    font-family: "Pacifico", sans-serif ;
    font-weight: 100;
    line-height: normal;
    font-size: xx-large;
    /* color: #02b4a5; */
}

.NavLink {
    padding: 5px;
    color: #ebebeb;
}

.Active i {
    color: #00332f;
}


  