.ImagePreviews{
    width:-webkit-fill-available
}
.PopularPost{
    text-align: center;
    line-height: normal;
}
/* .ToggleButton {
    
  } */


.Disabled {
    height:auto;
    color:#d10e00;
    pointer-events: none;
  }