.ImagePreviews{
    width:-webkit-fill-available;
    height: 275px;
    overflow: hidden;
    object-fit: cover;
}
.PopularPost{
    text-align: center;
    line-height: normal;
}

.Disabled {
    height:auto;
    color:#d10e00;
    pointer-events: none;
  }
