.Link {
    text-decoration: none;
}

.Center {
    text-align: center;
    display: block;
    margin: auto;    
}

.Header {
  text-align: center;
  padding-bottom: 20px;
}

.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 2px;
  color: #6194a8;
  text-align: center;
  padding: 10px;
}

