.App {
    font-family: "Kanit", sans-serif;
    background-color: rgb(100, 100, 100);
    min-height: 100vh;
    color: #ebebeb;
}
.Main{
    padding-top: 95px;
}

h1 {
  font-family: "Pacifico", sans-serif ;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.Content {
  background-color: #505050;
  padding: 10px;
  border-radius: 2px;
  border: 3px solid #333333;
  margin-bottom: 10px;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.IdleIcon {
  pointer-events: none;
}


* {
    box-sizing: border-box;
  }
  
  a {
    font-family: 'Kanit';
    font-weight: 900;
    color: #009488;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
    color: #2ae9d9;
  }
  
  a:hover i {
    color: #00b3a4;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #2ae9d9;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #00b3a4;
  }
